body{
  background-color: #CFE1DC;
}
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #F36C5A;
  background: linear-gradient(173deg, rgba(243, 108, 90, 1) 0%, rgba(247, 162, 140, 1) 50%, rgba(233, 107, 92, 1) 100%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}


.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;             
  outline: none;
  background-color: #EAF4D3;
  
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: #3a3a3a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #222;
}


.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 8px;
  background: #EAF4D3;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: #888;
}

.task-text {
  cursor: pointer;
}

.btn-group {
  display: flex;
  gap: 8px;
}

.complete-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.complete-btn:hover {
  background-color: rgb(84, 233, 84);
}

.remove-btn {
  border: none;
  background-color: #ff061f;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #fb384c;
}


